{
	"presets": [
		[
			"env", {
				"debug": true
			}
		],
	 	"react"
	],
	"plugins": [
		"transform-runtime",
		"transform-class-properties",
		"transform-decorators-legacy",
		"transform-object-rest-spread",
		"transform-react-constant-elements",
		"transform-react-inline-elements"
	],
	"sourceMaps": "both",
	"retainLines": true,
	"compact": true
}
