div.todo-component {
	display: flex;
	flex-direction: row;


	ul.todo-list {
		display: flex;
		flex-direction: row;
		list-style: none;

		li.todo-item {
			display: flex;
			flex-direction: row;

			
		}
	}
}
